body {
  background-color: black;
}

h1 {
  text-align:center;
  color: white;
  font-family: "times", sans-serif;
  font-weight: bold;
}

h2 {
  text-align:center;
  color: white;
  font-family: "bookman",serif;
}

table {
  background-color: moccasin;
  border-color: black;
}

#tr1 {
  color: red;
}

h3 {
  text-align: center;
  color: white;
  font-family: palatino;
}
